:root {
  /* LAYOUT */
  --base-padding: 20px;
  --base-margin: 10px;

  /* COLOURS */
  /* CaoimheJyoti Brand Colours */
  /* Highlights */
  --colour1: #01463c;
  --colour2: #af1b3f;
  --colour3: #ffcc7a;
  --colour4: #9baeb2;
  --colour5: #fffffc;
  /* Neutrals */
  --colour11: #06130f;
  --colour12: #4a5551;
  --colour13: #5c6763;
  --colour14: #95a09c;
  --colour15: #e7f4ee;
  /* inherited colours */
  --text: var(--colour15);

  /* alternate company colours */
  --she-codes-purple: #8246ae;
  --she-codes-orange: #f9a426;

  /* FONTS */
  --font-1: "Rock Salt", cursive;
  --font-2: "Josefin Sans", sans-serif;
  --font-3: "Rock Salt", cursive;
}

/* Reset/base CSS code and style guide*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--text);
  font-family: var(--font-2);
  font-weight: 400;
  line-height: 1.65;
  font-size: 112.5%;
  background-color: var(--colour1);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  color: var(--colour3);
  font-family: var(--font-3);
  font-size: 3.052rem;
}

h2 {
  font-family: var(--font-2);
  font-size: 2.441rem;
}
h3 {
  color: var(--color5);
  font-size: 1.953rem;
}
h4 {
  color: var(--color3);
  font-size: 1.563rem;
}
h5 {
  color: var(--color3);
  font-size: 1.25rem;
}
h6 {
  color: var(--color3);
  font-size: 0.8rem;
}
.text_small {
  font-size: 0.512rem;
}

a {
  font-family: var(--font-3);
}

.burger {
  margin: 1.6rem;
  display: none;
}

.bar {
  margin: 5px auto;
  width: 25px;
  height: 4px;
  display: block;
  background-color: var(--colour2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button,
.button {
  background-color: var(--colour3);
  color: var(--colour1);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-family: var(--font-2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-danger {
  background-color: var(--colour2);
  color: var(--colour5);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-family: var(--font-2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button-success {
  background-color: var(--colour1);
  color: var(--colour5);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-family: var(--font-2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mandatory {
  color: var(--colour2);
}

/* Header */
header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colour5);
}

header a {
  display: inline-block;
  color: var(--colour1);
  font-size: 1.6rem;
  text-decoration: none;
}

header img {
  padding: 0;
}

header a:active {
  color: var(--colour2);
  font-weight: bold;
  /* font-family: var(--font-3);  */
  text-decoration: none;
}

/* TODO: add logo to header */
#logo {
  height: 8vh;
  margin: 1.6rem;
  display: inline-block;
}

nav {
  display: flex;
  float: right;
  align-items: center;
}

nav a {
  padding: var(--base-margin);
}

.burger {
  margin: 1.6rem;
  display: none;
}

.bar {
  margin: 5px auto;
  width: 25px;
  height: 4px;
  display: block;
  background-color: var(--colour1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Main */

/* About */

/* Work */

/* Contact */
#contact {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--colour1);
  background-color: var(--colour3);
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 1.6rem;
}

input {
  margin-bottom: 0.6rem;
}

textarea {
  margin-bottom: 0.6rem;
}

/* Footer */
footer {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colour1);
  color: var(--color8);
}

#footer-logo {
  height: 5vh;
  display: inline-block;
}
#footer_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer a {
  padding: 0.6rem;
  color: var(--colour5);
  font-family: var(--font-);
  text-decoration: none;
}

footer a:hover {
  color: var(--colour3);
}

/* media queries */
/* JavaScript is not attached for full responsivness.  */
@media screen and (max-width: 830px) {
  nav a {
    display: none;
  }
  .burger {
    display: block;
    float: right;
  }
  .column {
    width: 100%;
    display: block;
  }
  /* .contact-form {
    padding: 1.6rem;
    width: 75%;
  } */

  footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
