:root {
  /* ------------------LAYOUT------------------ */
  --base-padding: 20px;
  --base-margin: 10px;

  /* ------------------COLOURS------------------ */
  /* CaoimheJyoti Brand Colours */
  /* Highlights */
  --colour1: #01463c;
  --colour2: #af1b3f;
  --colour3: #ffcc7a;
  --colour4: #9baeb2;
  --colour5: #fffffc;
  /* Neutrals */
  --colour11: #06130f;
  --colour12: #4a5551;
  --colour13: #5c6763;
  --colour14: #95a09c;
  --colour15: #e7f4ee;
  /* inherited colours */
  --text: var(--colour15);

  /* alternate company colours */
  --she-codes-purple: #8246ae;
  --she-codes-orange: #f9a426;

  /* ------------------FONTS------------------ */
  --font-1: "Rock Salt", cursive;
  --font-2: "Josefin Sans", sans-serif;
  --font-3: "Rock Salt", cursive;
}

/* ------------------Reset/base CSS code and style guide------------------*/
/* TODO: look at tidying up reset code */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--text);
  font-family: var(--font-2);
  font-weight: 400;
  line-height: 1.65;
  font-size: 112.5%;
  background-color: var(--colour1);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  color: var(--colour3);
  font-family: var(--font-3);
  font-size: 3.052rem;
}

h2 {
  font-family: var(--font-2);
  font-size: 2.441rem;
}
h3 {
  color: var(--color5);
  font-size: 1.953rem;
}
h4 {
  color: var(--color3);
  font-size: 1.563rem;
}
h5 {
  color: var(--color3);
  font-size: 1.25rem;
}
h6 {
  color: var(--color3);
  font-size: 0.8rem;
}
.text_small {
  font-size: 0.512rem;
}

a {
  font-family: var(--font-3);
}

/* ------------------Button Styling------------------ */
button,
.button {
  background-color: var(--colour3);
  color: var(--colour1);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-family: var(--font-2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-danger {
  background-color: var(--colour2);
  color: var(--colour5);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-family: var(--font-2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button-success {
  background-color: var(--colour1);
  color: var(--colour5);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-family: var(--font-2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* ------------------Header------------------ */

.openmenu {
  display: none;
}

header {
  width: 100%;
  /* TODO: needs to be fixed when scrolled but not at top... */
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colour5);
}

header a {
  display: inline-block;
  color: var(--colour1);
  font-size: 1.6rem;
  text-decoration: none;
}

header a:active {
  color: var(--colour2);
  font-weight: bold;
  text-decoration: none;
}

#logo {
  height: 8vh;
  margin: 0.6rem;
}

nav {
  display: flex;
  float: right;
  align-items: center;
}

nav a {
  padding: var(--base-padding);
}

/* ------------------Main------------------ */

/* ------------------About------------------ */

/* ------------------Work------------------ */

/* ------------------Contact------------------ */
#contact {
  margin-bottom: 1.6rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--colour1);
  background-color: var(--colour3);
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  padding: 1.6rem;
}

input {
  margin-bottom: 0.6rem;
}

textarea {
  margin-bottom: 0.6rem;
}

.mandatory {
  color: var(--colour2);
}

/* TODO: look at positioning - needs to be centered.  */
form #formbtn {
  align-content: center;
  width: 50%;
}

/* ------------------Footer------------------ */
footer {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--colour1);
  background-color: var(--colour5);
}

#footer-logo {
  height: 5vh;
  display: inline-block;
}

#footer_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer a {
  padding: 0.6rem;
  color: var(--colour1);
  font-family: var(--font-);
  text-decoration: none;
}

footer a:hover {
  color: var(--colour3);
}

/* ------------------Media Queries------------------ */
@media screen and (max-width: 830px) {
  /* ---- toggle menu for nav on smaller devices ---- */

  .menu {
    display: none;
  }
  .checkbox {
    display: flex;
    align-items: center;
  }
  .openmenu {
    display: block;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    cursor: pointer;
    /* -- hides checkbox -- */
    opacity: 0;
    margin: 10px;
  }

  /* -- opens menu -- */

  .checkbox input[type="checkbox"]:checked ~ .menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
  }

  .checkbox .hamburger-lines {
    padding: 0;
    margin: 10px;
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .checkbox .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--colour1);
  }

  /* -- transform hamburger lines -- */
  .checkbox .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .checkbox .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .checkbox .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  /* -- change hamburger when checked -- */
  .checkbox input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
    background: var(--colour1);
  }

  .checkbox input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
    background: var(--colour1);
  }

  .checkbox input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
    background: var(--colour1);
  }
  /*  ------------- end of toggle menu ------------- */

  footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
